<div class="container">
    <h3>Exercícios de Aula</h3>

    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus et ullamcorper orci. Vestibulum ornare luctus nulla ac sagittis.
        Duis sit amet lectus vitae elit consectetur interdum elementum vel nulla.
        Etiam ut orci viverra, efficitur tortor sit amet, sagittis sapien.
        Nullam dignissim nisi sed urna auctor pellentesque. Donec porta aliquet sem non venenatis.
    </p>
</div>

