<div class="container">
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>A fazer</h2>

      <div
        cdkDropList
        [cdkDropListData]="listaDeTarefas"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let tarefa of listaDeTarefas" cdkDrag>{{tarefa.task}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>Feito</h2>

      <div
        cdkDropList
        [cdkDropListData]="listaDeTarefasDone"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let tarefa of listaDeTarefasDone" cdkDrag>{{tarefa.task}}</div>
      </div>
    </div>
  </div>
</div>